<div *ngFor="let num of amount">
  {{ num }}
</div>
<button (click)="test()">Test</button>

<section>
  <div class="container">
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    >
      <div class="row">
        <div class="col-3 border border-primary mt-4">
          <div class="filter-wrapper">
            <app-home-filter [(amount)]="amount"></app-home-filter>
          </div>
        </div>
        <div class="col-9">
          <div class="row no-gutters" [@listAnimation]="movies.length">
            <div
              class="col-12 col-sm-6 col-md-4 col-lg-3 movie-poster-wrapper d-flex justify-content-center align-items-center"
              *ngFor="let movie of movies"
              id="list"
            >
              <app-movie-card [movie]="movie"> </app-movie-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>no movies mate</h2>
  <!-- <div class="container d-flex justify-content-center align-items-center">
    <div *ngIf="movies.length === 0">
    </div>
    <div
      *ngIf="!loadingResults"
      class="spinner-border text-primary"
      role="status"
    >
      <span class="visually-hidden"></span>
    </div>
  </div> -->
</section>
